---

---

<section class="section my-0! py-10 relative z-0 overflow-hidden">
  <div class="container">
    <hgroup class="text-center max-w-5xl mx-auto">
      <h2>
        <span
          class="bg-linear-to-r from-[#0179B4] to-[#88D8FF] bg-clip-text text-transparent"
          >Layanan unggulan</span
        > yang kami tawarkan
      </h2>
      <p>
        Dari custom branding hingga pengiriman massal, GiftCorp menyediakan
        layanan souvenir korporat yang lengkap untuk membuat brand Anda tampil
        menonjol dan meninggalkan kesan mendalam:
      </p>
    </hgroup>

    <div class="relative grid gap-10 grid-cols-1 lg:grid-cols-3 mt-10 max-w-6xl mx-auto after:absolute after:-top-5 after:-left-10 after:bg-[url('/img/shape/shape2.svg')] after:bg-no-repeat after:w-35.5 after:h-9.25 after:bg-position-[left_top]] after:bg-contain after:z-0 
	
	before:absolute before:-bottom-5 before:-right-10 before:bg-[url('/img/shape/shape2-1.svg')] before:bg-no-repeat before:w-35.5 before:h-9.25 before:bg-position-[right_bottom]] before:bg-contain before:z-0">
      <article
        class="lg:col-span-2 border-2 border-main-200 rounded-xl p-4 lg:p-10 bg-[linear-gradient(45deg,#F8FDFF,#FFFFFF)] text-black"
      >
        <svg class="icon" width="44" height="44">
          <use xlink:href="#i1"></use>
        </svg>
        <h3 class="text-main-200 mt-3">Kemasan Kustom</h3>
        <p>
          Buat setiap hadiah tak terlupakan dengan solusi kemasan eksklusif kami.
          Dari kotak hadiah elegan hingga wrapping berlogo, kami merancang kemasan
          yang mencerminkan identitas perusahaan Anda dan menciptakan pengalaman
          unboxing yang premium bagi penerima.
        </p>
      </article>
      <article
        class="border-2 border-main-200 rounded-xl p-4 lg:p-10 bg-[linear-gradient(45deg,#F8FDFF,#FFFFFF)] text-black"
      >
        <svg class="icon" width="44" height="44">
          <use xlink:href="#i2"></use>
        </svg>
        <h3 class="text-main-200 mt-3">Branding Perusahaan</h3>
        <p>
          Tingkatkan kehadiran brand Anda dengan cetak logo kustom, laser
          engraving, dan emboss pada semua item hadiah. Brand Anda, tampil
          memukau.
        </p>
      </article>
      <article
        class="border-2 border-main-200 rounded-xl p-4 lg:p-10 bg-[linear-gradient(45deg,#F8FDFF,#FFFFFF)] text-black"
      >
        <svg class="icon" width="44" height="44">
          <use xlink:href="#i3"></use>
        </svg>
        <h3 class="text-main-200 mt-3">Pemesanan Massal</h3>
        <p>
          Butuh hadiah untuk 50 atau 5.000 orang? Sistem pemesanan massal kami
          memastikan kualitas konsisten dan pengiriman tepat waktu dengan harga
          kompetitif.
        </p>
      </article>
      <article
        class="border-2 border-main-200 rounded-xl p-4 lg:p-10 bg-[linear-gradient(45deg,#F8FDFF,#FFFFFF)] text-black"
      >
        <svg class="icon" width="44" height="44">
          <use xlink:href="#i4"></use>
        </svg>
        <h3 class="text-main-200 mt-3">Paket Hadiah Premium</h3>
        <p>
          Set hadiah terkurasi dengan item-item premium pilihan — sempurna untuk
          hadiah eksekutif, apresiasi klien, dan momen spesial.
        </p>
      </article>
      <article
        class="border-2 border-main-200 rounded-xl p-4 lg:p-10 bg-[linear-gradient(45deg,#F8FDFF,#FFFFFF)] text-black"
      >
        <svg class="icon" width="44" height="44">
          <use xlink:href="#i5"></use>
        </svg>
        <h3 class="text-main-200 mt-3">Merchandise Acara</h3>
        <p>
          Dari konferensi hingga outing perusahaan, kami menyediakan merchandise
          berlogo yang membuat acara Anda berkesan dan brand Anda tetap diingat.
        </p>
      </article>
    </div>
  </div>
</section>
